.wordInfo-div {
  border-style:solid;
  border-width:2px;
  border-color: blueviolet;
  height: 200px;
  width: 80%;
}
.words-explain-item{
  display: block;
}

.modal-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.6;//让mask铺满整屏
  z-index: 1000;//让mask覆盖在其他元素上面
}

.modal-container {
  // 让Modal的主体内容全局居中，通过position: fix以及top和left的50%让主体内容的左上角居中，再通过transform:translate(-50%, -50%)来让主体内容正确居中。
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  min-width: 500px;
  border-radius: 4px;
  // 设置主体内容的z-index高于mask的，从而可以覆盖mask
  z-index: 1001;
}

.modal-title {
  padding: 30px;
  color: black;
  font-size: 30px;
  border-bottom:
    1px solid #e8e8e8;
}
.modal-body {
  padding: 30px;
  font-size: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.modal-footer {
  text-align: center;
  padding: 30px;
  display: flex;
}
.modal-footer .btn {
  flex: 1;
  height: 32px;
  text-align: center;
}
.modal-footer .modal-cancel-btn {
  background: white;
  margin-right: 30px;
  border-color: #d9d9d9;
  border-radius: 4px;
}
.modal-footer .modal-confirm-btn {
  background: #1890ff;
  color: white;
}


