.area-title {
    position: relative;
    &__vertical-line {
        position: absolute;
        top: 6px;
        left: 0;
        width: 7px;
        height: 33px;
        background-color: #468C42;
    }

    &__text {
        font-family: PingFangSC-Medium;
        font-weight: 500;
        position: relative;
        font-size: 32px;
        color: #131415;
        line-height: 45px;
        padding-left: 18px;
        margin-bottom: 15px;
    }
}
